.clientLogoHeading{
    max-width: 1105px;
    width: 100%;
    padding-top: 80px;
}
.ClientLogoSection{
    padding-top: 130px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 80px;
    column-gap: 100px;
    position: relative;
    z-index: 2;
}
.ClientLogosWrap{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.hoveredImageWrap {
    will-change: opacity, transform;
    pointer-events: none;
  }


  @media(max-width:1124px){
    .ClientLogoSection{
        grid-template-columns: repeat(3,1fr);
        column-gap: 100px;
        
    }
 } 
 
 @media(max-width:1024px){
    .ClientLogoSection{
        grid-template-columns: repeat(3,1fr);
       
        
    }
 } 
 @media(max-width:768px){
    .ClientLogoSection{
        grid-template-columns: repeat(2,1fr);
        padding-top: 50px;
        row-gap: 50spx;
    }
 } 
 @media(max-width:520px){
    .ClientLogoSection{
        grid-template-columns: repeat(2,1fr);
        column-gap: 30px;
        row-gap: 32px;
    }
 } 
 @media(max-width:425px){
    .ClientLogoSection{
        grid-template-columns: repeat(2,1fr);
        column-gap: 0;
        row-gap: 32px;
    }
 } 
 @media(max-width:375px){
    .ClientLogoSection{
        grid-template-columns:1fr;
        column-gap: 0;
        row-gap: 32px;
    }
 } 