.OurClientSection{
    padding-top: 100px;
}
.clientsSliderSec{
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 52px;
}
.ourclientHeading{
    padding-bottom: 56px;
}
.clientsSliderbtn{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

@media(max-width:768px){
    .OurClientSection{
        padding-top: 20px;
    }
}