.header{
    padding: 24px 0;
    background: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.accordion-item button{
    width: 100%;
}
.button {
    width: 100%; 
    background: transparent;
    border: none; 
    padding: 0;
    /* cursor: pointer;  */
}

.accordion__item-btn {
    width: 100%; /* Set button width to 100% */
    background: transparent;
}
.accordion__item h3 button{
    width: 100%;
}

.item-btn {
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1rem;
    text-align: left;
    color: #007bff;
    background-color: transparent;
    border: none;
  }
.details {
padding-top: 30px;
display: flex;
flex-direction: column;
 } 
 .detailSection{
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
 }
.detailDescription{
  font-size: 20px;
  font-weight: 200;
  line-height: 24px;
}
 .detailDescription ul{
    list-style-type: none;
 }

.accordionContent{
    padding-bottom: 50px;
}
  
.itemContent{
    transition: height 1s cubic-bezier(.56,.46,.05,.99);
}

  
  .accordion {
    margin-top: 1rem;
  }
  
  .item {
    border-bottom: 1px solid #808080;
  }
  .accordion.accordionItemWrap.item :last-child{
    border-bottom: none;
  }
  .itemBtn {
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
    font-size: 1rem;
    text-align: left;
    color: #007bff;
    background-color: transparent;
    border: none;
  }
  
  
  .itemBtnExpanded {
    background-color: #e7e7e7;
  }
  
  /* .itemContent {
    transition: height 0.50s cubic-bezier(0, 0, 0, 1);
  } */
  
  
  
  .chevron {
    position: relative;
    height: 20px;
    width: 20px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .chevron1 {
    position: absolute;
    display: flex;
    width: 18px;
    height: 1px;
    background: #fff;
  }
  .chevron2 {
    position: absolute;
    display: flex;
    width: 18px;
    height: 1px;
    transform: rotate(90deg);
    background: #fff;
  }
  .itemBtnExpanded .chevron2 {
    height: 0px;
  }
  
  .itemBtnExpanded .chevron {
    transform: rotate(180deg);
  }
  .resumeLink{
    padding-top: 40px;
  }